$mainColor: #3e2723;
$mainColorLight: #6a4f4b;
$mainColorDark: #1b0000;
$fontColor: #ffffff;

@mixin navHoverStyle {
    color: $fontColor;
    background-color: $mainColorLight;
    font-size: 1.55rem;
}

@mixin navStyle {
    padding: 0px 16px;
    transition: all 0.2s;
}