$mainColor: #4D4545;
$mainColorLight: #8D6262;
$mainColorDark: #8D6262;
$fontColor: #ffffff;

@mixin navHoverStyle {
    color: $fontColor;
    background-color: $mainColorLight;
    font-size: 1.55rem;
}

@mixin navStyle {
    padding: 0px 16px;
    transition: all 0.2s;
}