$mainColor: #393E46;
$mainColorLight: #00ADB5;
$mainColorDark: #222831;
$fontColor: #ffffff;

@mixin navHoverStyle {
    color: $fontColor;
    background-color: $mainColorLight;
    font-size: 1.55rem;
}

@mixin navStyle {
    padding: 0px 16px;
    transition: all 0.2s;
}